.font-size( @vmin, @minPx, @maxPx ) {

    font-size: 1vmin * @vmin;

    @breakpointMax: unit((@minPx / @vmin * 100), px);
    @breakpointMin: unit((@maxPx / @vmin * 100), px);

    @media all and ( max-width: @breakpointMax ) and (orientation: portrait),
           all and ( max-height: @breakpointMax ) and (orientation: landscape) {
        font-size: unit(@minPx, px);
    }
    @media all and ( min-width: @breakpointMin ) and (orientation: portrait),
           all and ( min-height: @breakpointMin ) and (orientation: landscape) {
        font-size: unit(@maxPx, px);
    }
}
